@import "variables";

@keyframes dropNav {
    0% {
        transform: translateY(-100px);
    }

    50% {
        transform: translateY(-100px);

    }

    100% {
        transform: translateY(0);

    }
}

//add class:

.drop-nav {

    animation: dropNav 1.1s ease;
}


.hidden {
    overflow: hidden;
}

.nav-move {
    transform: translateX(57%);
}

.show {
    display: flex;
}


.prev-btn {
    position: absolute;
    top: 40%;
    left: -1%;
    height: 40px;
    width: 40px;
    line-height: 40px;
    background-color: white !important;
    border-radius: 50% !important;
    outline: none !important;
    border: 1px solid rgba(216, 207, 207, 0.577) !important;
    color: rgb(42, 159, 127) !important;
}


.next-btn {
    position: absolute;
    top: 40%;
    right: -1%;
    height: 40px;
    width: 40px;
    line-height: 40px;
    background-color: white !important;
    border-radius: 50% !important;
    outline: none !important;
    border: 1px solid rgba(216, 207, 207, 0.577) !important;
    color: rgb(42, 159, 127) !important;
}

//960px
//95px;